---
import BaseLayout from '@layouts/BaseLayout.astro';
import { Icon } from 'astro-icon';
import { machineDate, readableDate } from '@/scripts/dates';

const { content } = Astro.props;
---

<BaseLayout title={content.title} description={content.description}>
	<article class="container">
		<header class="my-8 lg:my-16 text-center">
			<h1 class="font-serif font-bold md:p-4 text-3xl md:text-[56px] mb-6">{content.title}</h1>
			<div class="inline-flex gap-x-2 items-center opacity-80">
				<Icon name="bi:clock" class="w-4 h-4" />
				<p>
					Updated <time datetime={machineDate(content.date)}>{readableDate(content.date)}</time>
				</p>
			</div>
		</header>
		<main class="prose prose-lg prose-copy max-w-2xl mx-auto prose-headings:font-serif">
			<slot />
		</main>
		<footer></footer>
	</article>
</BaseLayout>
